<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>textutils</title>
</head>

<body>


    <!-- # code for video : 8 -->
    <h1>
        Hello Ami Nayeem.. {{name}} ..is form ..{{place}} <mark>for video 8</mark>
    </h1>
    <!-- # code for video : 8 -->


    <!--
    # code for video : 9
<h1>Welcome to the text analyazer. Enter your text below...<mark>for video 9</mark></h1>
<form action='/removepunc' method='get'>
    <form action='/removepunc' method='get'>

    <textarea name='text_area' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
    <button type='submit'> Analyze Text</button>
    </form>
</form>

-->


    <!-- # code for video : 10 -->
    <h1>Welcome to the text analyazer. Enter your text below...<mark>for video 10</mark></h1>
    <form action='/analyze' method='get'>
        <form action='/removepunc' method='get'>

            <textarea name='text_area' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
            <input type="checkbox" name="analyze"> Remove Puctuation <br>
            <button type='submit'> Analyze Text</button>
        </form>
    </form>
    <!-- # code for video : 10 -->

</body>

</html>